<nav class="px-8 md:px-12 mx-auto max-w-7xl py-2 lg:px-32 text-xs">
  <div
    x-data="{ open: false }"
    class="relative flex flex-col w-full mx-auto rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
  >
    <div class="flex flex-row items-center justify-between md:justify-start">
      <a
        class="text-black hover:text-zinc-500 items-center font-normal uppercase gap-3 inline-flex"
        href="/"
      >
        Meowcraft
      </a>
    </div>
  </div>
</nav>
